.error {
    color: red;
}

.feature-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
}

.player-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}